<div class="container-fluid democonference-container-fluid" ng-init="initialization()">
    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <nav class="navbar navbar-custom-k">
        <button class="navbar-toggler navbar-toggler-customize" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar-nav-custom">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><img ng-src="assets/img/icon/chat-conference-demo-2.png"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img ng-src="assets/img/icon/folder-conference-demo.png"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img ng-src="assets/img/icon/raisehand-conference-demo.png"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img ng-src="assets/img/icon/telephone-conference-demo.png"><span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-custom-b">
        <button class="navbar-toggler nav-bar-toogler-customize" type="button" data-toggle="collapse" data-target="#navbarMember" aria-controls="navbarMember" aria-expanded="false" aria-label="Toogle navigation">
            <span class="navbar-toggler-icon">Member</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMember">
            <ul class="navbar-nav mr-auto">
                <li class="item"><div class="conference-member-list" id="conferenceMemberList"></div><li>
            </ul>
        </div>
    </nav>
    
</div>