<div class="container demo-login">
    <div class="row row-header">
        <div ng-include="topMenu"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-login">
            <img ng-src="assets/img/Edplus.png">
        </div>
        <div class="col-xs-6 col-login">
            <p>E-LEARNING PROGRAM</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-login">
            <input type="text" name="roomName" ng-model="roomName" placeholder="Room Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-login">
            <input type="text" name="name" ng-model="name" placeholder="Name"/>
        </div>
    </div>
    <div class="row">
        </div>
        <div class="col-xs-6 col-login">
            <a id="asd" ng-href="javascript:void(0)" ng-click="join($event)" ><span class="btn btn-danger btn-sm">JOIN</span></a>
        </div>
     </div>
</div>