<div class="col-md-3">
<div class="side-menu sidebar-inverse side-menu-admin">
    <nav class="navbar navbar-default navbar-menu-admin" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
            </div>
            <ul class="nav sidebar-nav">
                <li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'createRoom'}">
                        <!--<span class="icon-side-menu-admin fa fa-plus {{ $route.current.activetab == 'createRoom'? 'active-text-side-menu-admin':'' }}"></span>-->
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-Create-Room.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'createRoom'? 'active-text-side-menu-admin':'' }}">Create Room</span>
                        </div>
                    </a>
                </li>
                <!--<li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'joinRoom'}">
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-Join-Room.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'joinRoom'? 'active-text-side-menu-admin':'' }}">Join Room</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'history'}">
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-History.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'history'? 'active-text-side-menu-admin':'' }}">History</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'statistic'}">
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-Statistic.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'statistic'? 'active-text-side-menu-admin':'' }}">Statistic</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'videoArchives'}">
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-Video-Archives.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'videoArchives'? 'active-text-side-menu-admin':'' }}">Video Archives</span>
                        </div> 
                    </a>
                </li>
                <li>
                    <a ng-href="javascript:void(0);" ng-class="{'active' : $route.current.activetab == 'evaluation'}">
                        <div class="menu-clickable">
                        <span><img ng-src="assets/img/icon-menu/Icon-Evaluation.png"  alt="" width="10%" height="30%" /></span>
                        <span class="title-side-menu-admin {{ $route.current.activetab == 'evaluation'? 'active-text-side-menu-admin':'' }}">Evaluation</span>
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
</div>
